<!DOCTYPE html>
<html>
  <head>
    <title>nomsee!</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="header">
	<br>
			<h1 class="page-header">nomsee</h1>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Post", new_post_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
			</div>
      <%= yield %>
		</div>
    </div>
  </body>
</html>
